html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.logo{
	width: 128px;
	height: auto;

	position: absolute;
	top: 12.5px;
    left: 12.5px;
}

#container {
	width: calc(100% - 20px);
	height: calc(100% - 20px);

	
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	
	margin: auto;
}


canvas {
	border-radius: 7.5px;
}