@font-face {
	font-family: Inter-ExtraLight;
	src: url(../assets/Inter-ExtraLight.woff2);
}

@font-face {
	font-family: Inter-Medium;
	src: url(../assets/Inter-Medium.woff2);
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto 0 auto;
}

.header {
	height: 124px;
	display: flex;
	position: sticky;
	top: 0;
	background-color: #ffffff;
}

.header .logo {
	margin: auto 76px auto 76px;
	height: 56px;
	width: auto;
}

.header button {
	display: inline-block;
	height: 42px;
	margin: auto 76px auto auto;
	background-color: #D4D6F0;
	border-radius: 5px;
	border: none;
	font-family: Inter-Medium;
	font-size: 14px;
	padding: 0 14px 0 14px;
}

.dataviz-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.dataviz {
	width: 100%;
	height: calc(100vh - 124px - 248px);
}

canvas {
	border-radius: 0;
}

.dataviz-dash {
	margin: 48px 76px 48px 76px;
	display: flex;
	gap: 16px;
}

.dataviz-dash h2 {
	font-family: Inter-Medium;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}

.dataviz-dash ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dataviz-dash p {
	font-family: Inter-ExtraLight;
	font-size: 54px;
	line-height: 58px;
	margin: 0;
}

.dataviz-dash label {
	font-family: Inter-Medium;
	font-size: 14px;
	line-height: 33px;
	margin: 0;
}

#cb_fsr {
	accent-color: #2c9cd1;
}

#cb_opm {
	accent-color: #af80a6;
}

#cb_nfl {
	accent-color: #dbd56e;
}

.dataviz-dash-box {
	width: 100%;
	border-top: 1.5px black solid;
	transition: opacity 0.5s ease;
}

.dataviz-dash:has(#cb_fsr:not(:checked)) #box_fsr {
    opacity: 0.25;
}

.dataviz-dash:has(#cb_opm:not(:checked)) #box_opm {
    opacity: 0.25;
}

.dataviz-dash:has(#cb_nfl:not(:checked)) #box_nfl {
    opacity: 0.25;
}