@font-face {
	font-family: Inter-ExtraLight;
	src: url(../assets/Inter-ExtraLight.woff2);
}

@font-face {
	font-family: Inter-Medium;
	src: url(../assets/Inter-Medium.woff2);
}

@font-face {
	font-family: Inter-Regular;
	src: url(../assets/Inter-Regular.woff2);
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #F2F3F4;
}


/* All sections displayed as grid*/
article,
.intro,
.dataviz-dash,
.header {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 16px;
}


/* Header */
.header {
	height: 124px;
	padding: 0 76px 0 76px;

	position: sticky;
	top: 0;
	background-color: #FFFFFF;
}

.header div {
	grid-column: span 6;
	align-content: center;
}

.header .logo {
	height: 56px;
	width: auto;
}

.header button {
	font-family: Inter-Medium;
	font-size: 14px;
	height: 42px;
	padding: 0 14px 0 14px;
	background-color: #D4D6F0;
	border-radius: 5px;
	border: none;
	float: right;
}


/* Footer */
.footer {
	height: 124px;
	padding: 0 calc(76px * 2.5) 0 calc(76px * 2.5);

	display: flex;
  	justify-content: space-between;

	background-color: #ffffff;
}

.footer ul {
	padding: 0;

	align-content: center;

	list-style-type: none;
}


/* Data visualization (DV) */
.dataviz-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}

.dataviz {
	width: 100%;
	height: calc(100vh - 124px - 186px);
}

canvas {
	border-radius: 0;
}


/* DV dashboard */
.dataviz-dash {
	padding: 41px 76px 41px 76px;
}

.dataviz-dash ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dataviz-dash-box {
	grid-column: span 3;
	border-top: 1.5px black solid;
	transition: color 0.5s ease;
}

.dataviz-dash-box h4 {
	line-height: 38px;
}

.dataviz-dash-box label {
	line-height: 18px;
	margin: 0;
}

#cb_fsr {
	accent-color: #2c9cd1;
}

#cb_opm {
	accent-color: #af80a6;
}

#cb_nfl {
	accent-color: #dbd56e;
}

#box_fsr,
#box_opm,
#box_nfl {
	color: #000;
}

.dataviz-dash:has(#cb_fsr:not(:checked)) #box_fsr,
.dataviz-dash:has(#cb_opm:not(:checked)) #box_opm,
.dataviz-dash:has(#cb_nfl:not(:checked)) #box_nfl {
    color: #ccc;
}

#num_fsr,
#num_opm,
#num_nfl {
	font-family: Inter-ExtraLight;
	font-size: 54px;
	line-height: 58px;
	font-weight: normal;
}


/* Sections – Main */
section {
	padding: 64px 76px 64px 76px;
}

section h2 {
	margin: 33px 0 0 0;
}

/* Sections – Sub */
.value-prop-fsr {
	background-color: #CBCCE8;
}

.value-prop-trials {
	background-color: #E3D7E1;
}

.value-prop-nfl {
	background-color: #E8E5B1;
}

.value-prop-fsr h2 {
	margin: 0;
}

/* Intro */
.intro {
	margin: 33px 0 0 0;
}

.intro-col {
	grid-column: span 4;
}

.intro-col p {
	margin: 5px 0 0 0;
}

/* Article */
article {
	margin: 89px 0 0 0;
}

.article-text {
	grid-column: 1 / span 6;
	grid-row: 1;
}

.article-text h2 {
	margin: 0 0 5px 0;
}

/* Article – Image */
article figure {
	grid-column: 7 / span 6;
	grid-row: 1;
	margin: 0;
}

article img {
	width: 100%;
}


/* Article – Reference */
.article-reference {
	grid-column: 9 / span 4;
}

.article-reference p {
	margin: 16px 0 0 0;
}




h1 {
	border-top: 1.5px black solid;
	display: inline-block;

	margin: 0;

	font-family: Inter-ExtraLight;
	font-size: 24px;
	font-weight: normal;
	line-height: 58px;
}

h2 {
	font-family: Inter-ExtraLight;
	font-size: 32px;
	font-weight: normal;
	line-height: 45px;
}

h3,
p {
	margin: 0;

	font-family: Inter-Regular;
	font-size: 18px;
	font-weight: normal;
	line-height: 27px;
}

h4,
.p-small {
	margin: 0;

	font-family: Inter-Medium;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
}

figcaption,
.footnote {
	font-family: Inter-Medium;
	font-size: 10px;
	line-height: 16px;
}